/.idea/.gitignore
/.idea/algorithms.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/
/Algorithms/obj/
/Algorithms/bin/
/Tests/obj/
/Tests/bin/
